main {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding-top: 50px;
}

.timer {
  
  color: antiquewhite;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10%;
  padding: 0 10px;

}

.snackbar{
  color: antiquewhite;
  background-color: green;
  border: 1px solid groove;
  text-decoration: none;
  border-radius: 10%;
  padding: 0 10px;
}
